#first-page {
    position: absolute;
    z-index: 90;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    position: relative;
    position: fixed;
}

@keyframes rotateBackground{
    from {
        background :linear-gradient(0deg,var(--1brown),var(--1brownchild));
    }
    25% {
        background :linear-gradient(90deg,var(--1brown),var(--1brownchild));
    }
    50% {
        background :linear-gradient(180deg,var(--1brown),var(--1brownchild));
    }
    75% {
        background :linear-gradient(270deg,var(--1brown),var(--1brownchild));
    }
    to {
        background :linear-gradient(360deg,var(--1brown),var(--1brownchild));
    }
}
.rotateColor {
    animation: rotateBackground 0.8s linear infinite;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    box-shadow: 0px 5px 10px var(--beige);
}

#login-form span {
    font-size: 500;
    font-weight: 700;
    margin-bottom: 40px;
}

#login-form input {
    width: 200px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: var(--beige);
}

#login-form input:hover,
#login-form input:focus {
    background-color: var(--3brown);
    box-shadow: 0px 5px 10px var(--3brown);
}