#anchor {
    width: 50%;
    height: 100%;
    background-color: var(--2brown);
    flex-wrap: wrap;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#anchor-zone {
    width: 81%;
    height: 62%;
    background-color: var(--3brown);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 20px;
    color: var(--beige);
}

#anchor ::-webkit-scrollbar {
    background-color: var(--1brown);
    border-radius: 40px;
}
#anchor-zone form,
#anchor-zone a {
    width: 100px;
    height: 100px;
    background-color: var(--1brown);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 35px;
    opacity: 0.9;
    margin: 2px;
    font-weight: bolder;
    
    border: 2px solid #f4eee0d7;
}
#anchor-zone form {
    opacity: 0.04;
}
#anchor-zone form:hover {
    opacity: 0.5;
    border: 2px solid #f4eee0d7;
}

#anchor-zone a:hover {
    opacity: 1;
    border: 2px solid #f4eee0;
}

#anchor-zone button {
    background-color: var(--1brown);
    border: none;
    color: var(--beige);;
}
.anchor-zone_section {
    position: relative;
}
.ellipsis {
    position: absolute;
    top: 24px;
    right: 10px;
}